In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')
df.shape

(404290, 6)

In [3]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [37]:
new_df = df.sample(10000)

In [38]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [39]:
new_df.duplicated().sum()

0

In [40]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
319200,What are the main imports and exports of Venez...,What are the main imports and exports of Venez...
269733,Why do I feel alone in a crowd?,Why do we sometimes feel alone in a crowd?
399159,How do people get depressed?,Why do people get depressed?
66992,What is the name of the song in the Nokia Lumi...,"Which phone is better, a Samsung J7 or a Lumia..."
168935,How do I identify a business opportunity?,How do I create business opportunities?

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [43]:
q1_arr

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [44]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

MemoryError: Unable to allocate 229. MiB for an array with shape (3000, 10000) and data type int64

In [45]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
118431,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
208628,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
92977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
388663,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172805,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156128,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
13157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164605,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
311292,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
222286,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [47]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
118431,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
208628,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
92977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
388663,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
172805,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [51]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [54]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()

In [ ]:
import numpy as np

# Remove rows where y_train is NaN
mask = ~np.isnan(y_train)

X_train, y_train = X_train[mask], y_train[mask]

rf.fit(X_train,y_train)

RandomForestClassifier()

In [59]:
mask = ~np.isnan(y_test)

X_test, y_test = X_test[mask], y_test[mask]
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.6627906976744186

In [63]:

from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.6395348837209303